[Unit]
Description=Exemple service to check metered connection status
Requires=check-metered-connection.service
After=check-metered-connection.service

[Service]
Type=oneshot
ExecStart=echo Hello World !
