[Unit]
Description=Exemple service to check metered connection status
Requires=unmetered-connection.service
After=unmetered-connection.service

[Service]
Type=oneshot
ExecStart=echo Hello World !
